$displace: -290px; // cheating here
.add-post-container {
  padding: 40px;
}
.add-post {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  & .toggle-add-to-story {
    color: $black;
    text-align: left;
    padding-left: 0;
    & i {
      font-size: 2em;
      margin-right: 10px;
    }
    & > span {
      display: flex;
      align-items: center;
    }
  }
  & .add-post-inputs {
    display: grid;
    grid-gap: 20px;
    background-color: white;
  }
  & .add-storyline-inputs {
    // display: grid;
    grid-gap: 20px;
    z-index: -1;
    // transition: transform 300ms;
    // transform: translateY($displace); 
    display: none;
    &.visible {
      display: grid;
      // transform: translateY(0); 
    }
  }
  & .add-post-button-container {
    // transition: transform 300ms;
    // transform: translateY($displace);
    &.visible {
      // transform: translateY(0);
    }
  }
}

.current-location {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: calc(100% - 50px) 50px;
  // background-color: white;
  & button.btn {
    width: auto;
    padding: 6px 10px;
    background-color: $white;
    color: $black;
    border: solid 1px $blackolive;
    border-radius: 3px;
    font-size: 1.2em;
    color: $blackolive;
  }
  & > * {
    margin-right: 15px;
    align-self: end;
  }
  & > span:nth-child(2) {
    text-align: right;
    margin-right: 0;
  }
}