.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  padding: 12px;
  width: 100%;
  border-width: 0;

  &.default {
    background-color: $darkgunmetal;
    color: $white;
  }
  &.blue {
    background-color: $navy;
    color: $white;
  }
  &.disabled, button:disabled {
    cursor: not-allowed;
    background-color: $gray;
    color: darken($gray, 50%);
  }
  &.inline {
    display: inline;
    padding: 4px 10px;
  }
}

.rounded {
  border-radius: 5px;
}

.inverse {
  background-color: $black;
  border-color: $black;
  color: $white;
}