// store all colors here
$black: #02040F;
$white: #ffffff;
$navy: #006DAA;
$gray: #dddddd;
$lightgray: #D8D4D5;
$darkgray: #bbbbbb;
$eerieblack: #1A1B25;
$blackolive: #393E41;
$smokeyblack: #141301;
$darkgunmetal: #1D2833;
$outerspace: #444554;
$rocketmetallic: #897C80;

// star colors
$hl0: #D3152E; // red
$hl25: #FF6E2E; // orange
$hl50: #F7CB15; // yellow
$hl100: #05A8AA; // blue

// vendors :O
$googlered: #dd4b39;
$facebookblue: #3b5998;
