.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  & .form {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    &.login {
      grid-gap: 20px;
    }
  }
  & .social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .google { background-color: $googlered; color: $white; }
    .facebook { background-color: $facebookblue; color: $white; }
  }
}

.profile-container {
}
.login-container.profile {
  justify-content: left;
}