.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  & .form {
    display: grid;
    grid-gap: 10px;
    width: 80%;
    &.login {
      grid-gap: 20px;
    }
  }
  & .social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .google { background-color: $googlered; color: $white; }
    .facebook { background-color: $facebookblue; color: $white; }
  }
  @media screen and (min-width: 400px) {
    .form {
      width: 60%;
    }
  } 
  @media screen and (min-width: 768px) {
    .form {
      width: 40%;
    }
  } 
}

.profile-container {
}
.login-container.profile {
  justify-content: left;
}