.searchMap {
    form {
      display: grid;
      grid-template-columns: 10fr 1fr;
      grid-column-gap: 10px;
    }
    .fa-search {
      position: relative;
      border: 2px solid white;
      border-radius: 2px;
      &:hover {
        cursor: pointer;
      }
      &:before {
        content: "\f002";
        font-size: 21px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: azure;
        transform: translate(-50%,-50%);
      }
    }
  }