nav {
  background-color: $black;
  color: $white;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between; 
  & a {
    color: $white;
    display: inline-block;
    padding: 10px 15px;
    transition: all cubic-bezier(.51,.19,.27,.81) 200ms;
    &.active {
      background-color: $navy;
    }
    &:hover {
      background-color: transparentize($navy, 0.1);
    }
  }
  
}