.postDetail {
    text-align: center;
    position: relative;
    .trending-status {
        position: absolute;
        top:0;
        right:1%;
        width:15px;
        height:15px;
        border-radius: 50%;
        animation: status-pulse 4s infinite;        
    }
    .storyLineTitle {
        text-align: center;
        color:#1d2833;
        display: inline-block;
        position: relative;
        font-size: 1rem;
        text-transform: capitalize;
        margin-bottom:1.15em;
        &:before {
            content:'';
            height:1px;
            width:9%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:-12%;
            background-color: #1d2833;
        }
        &:after {
            content:'';
            height:1px;
            width:9%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:-12%;
            background-color: #1d2833;
        }
    }
    .edit-button {
        position: absolute;
        right: 3%;
        top: 0%;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
    .fullPost {
        display: grid;
        text-align: center;
        border-radius: 4px;
        padding: 0 12px;
        position: relative;
        .profilePic {
            border-radius: 50%;
            height: 60px;
            width: 60px;
            margin:0 auto;
            display: block;
            background-size: cover;
            background-position: center;
            &:hover {
                cursor: pointer;
            }
        }
        .userName {
            text-align: center;
            color:#CEABB1;
            &:hover {
                cursor: pointer;
            }
        }

        .postInfo {
            margin-top:.75em;
            .postTitle {
                color: #1d2833;
                text-transform: capitalize;
                font-size: 16px;
            }
            small {
                font-size:9px;
                margin: 6px 0;
                display: block;
            }
            .postBody {
                text-align: left;
                font-size: 14px;
                max-height: 80px;
                overflow: scroll;
                background-color: rgba(200,200,200,.5);
                padding: 12px;
                border-radius: 4px;
            }
        }
    }
    .divider {
        padding:10px 0;
        i {
            margin:0 1.25px;
            color: #1d2833;
        }
    }
    .postReplies {
        text-align: left;
    }
    .detailFooter {
        position: absolute;
        bottom:0;
        height:25px;
        width:100%;
        text-align: center;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        i {
            vertical-align: middle;
            color:#1d2833;
            &:hover {
                cursor: pointer;
                opacity:.75;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }
        }
        p{
            color:#1d2833;
            display: inline-block;
            margin: 0 15px;
        }
    }
}