.replyContainer {
    max-width:500px; //change this to be 100% of wrapper when components are in appropriate places
    text-align: left;
    .replyGroup {
        overflow-y: scroll;
        // overflow: none;
        // max-height: 275px;
        max-height: 240px;
        margin-bottom: 1.75em;
        // border-left: 1px solid #1d2833;
        // border-right: 1px solid #1d2833;
        // border-radius: 4px;
        border-bottom: 1px solid $lightgray;
        padding: 0 10px;
        box-sizing: border-box;
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar {
            width: 2px;
        }
    }
    .singleReply {
        display: grid;
        padding: 12px 0;
        grid-gap: 5px;
        grid-template-columns: .5fr 4fr;
        position: relative;
        grid-template-rows: auto;
    }
    .userName {
        font-weight:bolder;
        font-size:16px;
        text-align: center;
        margin:0 0 7px;
        display: inline-block;
        //color:pink;
        color:#1d2833;
        &.signedIn {
            color: green;
        }
        &.myPost {
            color: #CEABB1;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .userInfo{
        justify-self: center;
        .userProfilePic {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 6px;
            display: block;
            margin: 0 auto;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .replyBody {
        position: relative;
        padding: 0 8px;
        border-radius: 4px;
        align-self: flex-start;
        .timePosted {
            font-size: 9px;
            color: #1d2833;
            margin-left:4px;
        }
        p {
            margin:0 0 4px 0;
            color: #1d2833;
        }
        &.signedIn {
            //border-color: green;
            //background-color: green;
            &:after {
              //  border-color: green green transparent transparent;                
            }
        }
        &.myPost {
           // border-color: rebeccapurple;
           // background-color: rebeccapurple;
           h4{
               color:#CEABB1;
           }
            &:after {
             //   border-color: rebeccapurple rebeccapurple transparent transparent;                
            }
        }
        &:after{
            content: '';
            /* height: 1px; */
           // background-color: #1d2833;
            width: 95%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            position: absolute;
            /* margin: 0 auto; */
        }
    }
    .replyBorder {
        width: 40%;
        margin: 12px auto;
        height: 1px;
        background-color: rgba(0,0,0,.075);
        grid-column: 1/-1;
    }
}

.replyForm {
    display: flex;
    grid-template-columns: 5fr .45fr;
    border: 1px solid grey;
    border-radius: 4px;
    i {
        transition: all .075s linear;
        align-self: center;
        justify-self: center;
        width: 10%;
        opacity:.35;
        flex-basis: auto;
        height: 100%;
        position: relative;
        border-left: 1px solid grey;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 18px;
            transform: translate(-50%,-50%);
        }        
        &:hover {
            color:#1d2833;
            cursor: pointer;
            opacity: 1;
            transition: all .075s linear;
        }
    }
    .replyInput {
        padding: 12px 8px;
        border: none;
        flex-basis: auto;
        width: 90%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}