.replyContainer {
    max-width:500px; //change this to be 100% of wrapper when components are in appropriate places
    padding:0 12px;
    box-sizing: border-box;
    .singleReply {
        display: grid;
        padding: 4px 0;
        grid-gap: 20px;
        grid-template-columns: .5fr 4fr;
        grid-template-rows: auto;
    }
    .userInfo{
        justify-self: center;
        .userName {
            font-weight:bold;
            font-size:16px;
            text-align: center;
            margin:0;
            &.signedIn {
                color: green;
            }
        }
        .timePosted {
            font-size:10px!important;
            text-align: center;
            font-weight:lighter;
            display: block;
        }
        .userProfilePic {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width:50px;
            height:50px;
            border-radius:6px;
            display: block;
            margin:0 auto;
        }
    }
    .replyBody {
        position: relative;
        padding: 12px 8px;
        border: 1px solid pink;
        background-color: pink;
        border-radius: 4px;
        align-self: flex-start;
        p {
            margin:0;
            color: white;
        }
        &.signedIn {
            border-color: green;
            background-color: green;
            &:after {
                border-color: green green transparent transparent;                
            }
        }
        &:after{
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -15px;
            right: auto;
            top: 20px;
            bottom: auto;
            border: 7px solid;
            border-color: pink pink transparent transparent;
        }
    }
    .replyBorder {
        width: 40%;
        margin: 12px auto;
        height: 1px;
        background-color: rgba(0,0,0,.075);
        grid-column: 1/-1;
    }
}

.replyForm {
    display: grid;
    grid-template-columns: 5fr .45fr;
    border:1px solid grey;
    border-radius:4px;
    .fa-paper-plane {
        transition: all .075s linear;
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        position: relative;
        border-left:1px solid grey;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 18px;
            transform: translate(-50%,-50%);
        }        
        &:hover {
            color:green;
            cursor: pointer;
            transition: all .075s linear;
        }
    }
    .replyInput {
        padding:12px 8px;
        min-width: 100%;
        border:none;
    }
}