// reset
@import '_reset.scss';

// assets 
@import '_colors.scss';
@import '_shadows.scss';
// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
  font-family: 'Roboto', sans-serif;
*/

// general styles
* { box-sizing: border-box; }
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1 0 auto;
}
footer {
  padding: 20px;
  text-align: right;
  border-top: solid 2px $gray;
  background-color: $gray;
}
a { text-decoration: none; }
hr { width: 100%; }






// containers
@import '_nav.scss';
@import '_forms.scss';
@import '_buttons.scss';

// pages
@import '_login.scss';
