// reset
@import '_reset.scss';

// assets 
@import '_colors.scss';
@import '_shadows.scss';
// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Lato:700');
/*
  font-family: 'Roboto', sans-serif;
*/

// general styles
* { box-sizing: border-box; }
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 14px;
  flex-direction: column;
}
#root {
  flex: 1 0 auto;
}
footer {
  padding: 20px;
  text-align: right;
  border-top: solid 2px $gray;
  background-color: $gray;
}
a {
  text-decoration: none;
  cursor: pointer;
}
hr { width: 100%; }

// header styles
/**** needs font family!! ****/
h3 { font-size: 1.5em; }
/* Fonts */

h1 {
  font-size: 3rem;
}
// font size for icons
i { font-size: 1.5em; }






// containers
@import '_replies.scss';
@import '_nav.scss';
@import '_forms.scss';
@import '_buttons.scss';
@import '_helpers.scss';
@import '_dashboard.scss';
@import '_modal.scss';

// pages
@import '_map.scss';
@import '_login.scss';
@import '_home.scss';
@import '_addposts.scss';
@import '_mylocations.scss';