/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  font-family: 'Roboto', sans-serif;
*/
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%; }

body {
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 12px;
  flex-direction: column; }

#root {
  flex: 1 0 auto; }

footer {
  padding: 20px;
  text-align: right;
  border-top: solid 2px #dddddd;
  background-color: #dddddd; }

a {
  text-decoration: none; }

hr {
  width: 100%; }

/* Fonts */
h1 {
  font-size: 3rem; }

nav {
  background-color: #02040F;
  color: #F1FFE7;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between; }
  nav a {
    color: #F1FFE7;
    display: inline-block;
    padding: 10px 15px; }
    nav a.active {
      background-color: #006DAA; }

input, textarea, button, select {
  font-size: 1em;
  line-height: 1em;
  font-family: 'Roboto', sans-serif; }

textarea:focus, input:focus, button:focus, select:focus {
  outline: none; }

.textbox-container {
  display: grid;
  grid-gap: .625em; }

.textbox {
  padding: 10px;
  border: solid 1px #bbbbbb; }
  .textbox:focus {
    border-color: #02040F;
    transition: all 300ms; }

.btn {
  color: #F1FFE7;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  padding: 12px;
  width: 100%;
  border-width: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.default {
    background-color: #dddddd;
    color: #888888; }
  .btn.blue {
    background-color: #006DAA;
    color: #F1FFE7; }
  .btn.disabled {
    background-color: #dddddd;
    color: #5e5e5e; }
  .btn.inline {
    display: inline;
    padding: 4px 10px; }

.rounded {
  border-radius: 5px; }

.bold, .homePage .hero .heroContent h1 {
  font-weight: bold; }

.searchMap form {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 10px; }

.searchMap .fa-search {
  position: relative;
  border: 2px solid white;
  border-radius: 2px; }
  .searchMap .fa-search:hover {
    cursor: pointer; }
  .searchMap .fa-search:before {
    content: "\f002";
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: azure;
    transform: translate(-50%, -50%); }

.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  .login-container .login {
    display: grid;
    grid-gap: 10px;
    width: 80%; }
  .login-container .social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
    .login-container .social-login .google {
      background-color: #dd4b39; }
    .login-container .social-login .facebook {
      background-color: #3b5998; }
  @media screen and (min-width: 400px) {
    .login-container .login {
      width: 60%; } }
  @media screen and (min-width: 768px) {
    .login-container .login {
      width: 40%; } }

.homePage .hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #EE7752, #E73C7E); }
  .homePage .hero .heroContent {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%); }
    .homePage .hero .heroContent h1 {
      color: white; }
    .homePage .hero .heroContent .locationCont {
      margin: 1.15em auto;
      width: 75%; }
      .homePage .hero .heroContent .locationCont input {
        display: block;
        width: 100%; }
