/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto|Lato:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  font-family: 'Roboto', sans-serif;
*/
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%; }

body {
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 14px;
  flex-direction: column; }

#root {
  flex: 1 0 auto; }

footer {
  padding: 20px;
  text-align: right;
  border-top: solid 2px #dddddd;
  background-color: #dddddd; }

a {
  text-decoration: none;
  cursor: pointer; }

hr {
  width: 100%; }

/**** needs font family!! ****/
h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.2rem; }

/* Fonts */
h1 {
  font-size: 3rem; }

i {
  font-size: 1.5em; }

nav {
  background-color: #02040F;
  color: #ffffff;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between; }
  nav a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px; }
    nav a.active {
      background-color: #006DAA; }

input, textarea, button, select {
  font-size: 1em;
  line-height: 1em;
  font-family: 'Roboto', sans-serif; }

textarea:focus, input:focus, button:focus, select:focus {
  outline: none; }

label {
  font-weight: bold;
  font-family: 'Lato', sans-serif; }

.textbox-container {
  display: grid;
  grid-gap: .625em;
  position: relative; }
  .textbox-container .input-container {
    position: relative; }
  .textbox-container .input-container:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #02040F;
    transition: width 200ms; }
  .textbox-container .input-container.focused:after {
    width: 100%;
    transition: width 300ms; }

.textbox {
  padding: 10px 0;
  border: 0;
  border-bottom: solid 2px #bbbbbb;
  width: 100%; }
  .textbox-error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px; }
  .textbox.title {
    font-size: 1.3em; }

.textarea {
  border: 0;
  padding: 10px 0;
  width: 100%;
  resize: none; }

@keyframes increase-width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #1D2833;
  background-image: none; }

/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 2.5em;
  line-height: 2.5;
  background: #1D2833;
  overflow: hidden;
  border-radius: 2px;
  width: 100%; }

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .8em;
  color: #fff;
  cursor: pointer; }

select::-ms-expand {
  display: none; }

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #1A1B25;
  pointer-events: none;
  color: #ffffff; }

/* Transition */
.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  padding: 12px;
  width: 100%;
  border-width: 0; }
  .btn.default {
    background-color: #1D2833;
    color: #ffffff; }
  .btn.blue {
    background-color: #006DAA;
    color: #ffffff; }
  .btn.disabled, .btn button:disabled {
    cursor: not-allowed;
    background-color: #dddddd;
    color: #5e5e5e; }
  .btn.inline {
    display: inline;
    padding: 4px 10px; }

.rounded {
  border-radius: 5px; }

.inverse {
  background-color: #02040F;
  border-color: #02040F;
  color: #ffffff; }

.bold, .homePage .hero .heroContent h1 {
  font-weight: bold; }

.dashboard {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(200px, 300px) 80%;
  min-height: calc(100vh - 90px); }

.dashboard-sidebar-container {
  font-size: 1rem;
  border-right: solid 1px #D8D4D5; }
  .dashboard-sidebar-container .dashboard-label {
    font-size: 1.2rem;
    display: flex;
    padding: 30px 0 0 0;
    justify-content: center; }
    .dashboard-sidebar-container .dashboard-label > * {
      align-self: center;
      margin-right: 5px; }
  .dashboard-sidebar-container .divider {
    display: block;
    text-align: center;
    padding: 10px 0; }
    .dashboard-sidebar-container .divider > * {
      margin-right: 3px; }
  .dashboard-sidebar-container li:first-child {
    border-top: solid 1px #D8D4D5; }
  .dashboard-sidebar-container li a {
    display: block;
    padding: 30px 20px;
    border-bottom: solid 1px #D8D4D5;
    transition: all 300ms;
    color: inherit;
    cursor: pointer; }
    .dashboard-sidebar-container li a:hover {
      background-color: #1D2833;
      color: #ffffff; }
      .dashboard-sidebar-container li a:hover:visited {
        color: #ffffff; }
    .dashboard-sidebar-container li a:visited {
      color: inherit; }

.dashboard-item {
  display: grid;
  grid-gap: 20px;
  padding: 40px; }
  .dashboard-item .dashboard-header {
    padding: 20px 0;
    border-bottom: solid 1px #D8D4D5; }

.searchMap form {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 10px; }

.searchMap .fa-search {
  position: relative;
  border: 2px solid white;
  border-radius: 2px; }
  .searchMap .fa-search:hover {
    cursor: pointer; }
  .searchMap .fa-search:before {
    content: "\f002";
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: azure;
    transform: translate(-50%, -50%); }

.map-container {
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  height: calc(100vh - 34px); }
  .map-container .map {
    z-index: 10; }
  .map-container .legend-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20;
    background-color: rgba(12, 13, 14, 0.62);
    color: #ffffff; }
    .map-container .legend-bar .legend-container {
      padding: 10px 15px;
      display: flex;
      line-height: 1.2; }
      .map-container .legend-bar .legend-container > * {
        align-self: center; }
    .map-container .legend-bar .legend-circle {
      display: inline-block;
      border-radius: 100%;
      padding: 0;
      width: .9rem;
      height: .9rem;
      margin-right: 10px; }
    .map-container .legend-bar .hl0 {
      background-color: #D3152E; }
    .map-container .legend-bar .hl25 {
      background-color: #FF6E2E; }
    .map-container .legend-bar .hl50 {
      background-color: #F7CB15; }
    .map-container .legend-bar .hl100 {
      background-color: #05A8AA; }

.halflife {
  shape-rendering: geometricPrecision;
  stroke: transparent; }
  .halflife.halflife-core {
    fill-opacity: 1;
    z-index: 5; }
  .halflife.halflife-outline {
    animation: ping 4s infinite;
    z-index: 2; }
  .halflife.hl-1 {
    animation: ping 5s infinite;
    fill: #e8001f;
    stroke: #e8001f; }
  .halflife.hl-2 {
    animation: ping 5s infinite;
    fill: #e8001f;
    stroke: #e8001f; }
  .halflife.hl-3 {
    animation: ping 5s infinite;
    fill: #e8001f;
    stroke: #e8001f; }
  .halflife.hl-4 {
    animation: ping 5s infinite;
    fill: #e8001f;
    stroke: #e8001f; }
  .halflife.hl-5 {
    animation: ping 5s infinite;
    fill: #e8001f;
    stroke: #e8001f; }
  .halflife.hl-6 {
    animation: ping 5s infinite;
    fill: #e60220;
    stroke: #e60220; }
  .halflife.hl-7 {
    animation: ping 5s infinite;
    fill: #e40422;
    stroke: #e40422; }
  .halflife.hl-8 {
    animation: ping 5s infinite;
    fill: #e20723;
    stroke: #e20723; }
  .halflife.hl-9 {
    animation: ping 5s infinite;
    fill: #e00825;
    stroke: #e00825; }
  .halflife.hl-10 {
    animation: ping 5s infinite;
    fill: #df0925;
    stroke: #df0925; }
  .halflife.hl-11 {
    animation: ping 5s infinite;
    fill: #de0a26;
    stroke: #de0a26; }
  .halflife.hl-12 {
    animation: ping 5s infinite;
    fill: #dd0b27;
    stroke: #dd0b27; }
  .halflife.hl-13 {
    animation: ping 5s infinite;
    fill: #dc0c27;
    stroke: #dc0c27; }
  .halflife.hl-14 {
    animation: ping 5s infinite;
    fill: #db0d28;
    stroke: #db0d28; }
  .halflife.hl-15 {
    animation: ping 5s infinite;
    fill: #db0d28;
    stroke: #db0d28; }
  .halflife.hl-16 {
    animation: ping 5s infinite;
    fill: #da0e29;
    stroke: #da0e29; }
  .halflife.hl-17 {
    animation: ping 5s infinite;
    fill: #da0e29;
    stroke: #da0e29; }
  .halflife.hl-18 {
    animation: ping 5s infinite;
    fill: #d90f29;
    stroke: #d90f29; }
  .halflife.hl-19 {
    animation: ping 5s infinite;
    fill: #d90f2a;
    stroke: #d90f2a; }
  .halflife.hl-20 {
    animation: ping 5s infinite;
    fill: #d90f2a;
    stroke: #d90f2a; }
  .halflife.hl-21 {
    animation: ping 5s infinite;
    fill: #d90f2a;
    stroke: #d90f2a; }
  .halflife.hl-22 {
    animation: ping 5s infinite;
    fill: #d8102a;
    stroke: #d8102a; }
  .halflife.hl-23 {
    animation: ping 5s infinite;
    fill: #d8102a;
    stroke: #d8102a; }
  .halflife.hl-24 {
    animation: ping 5s infinite;
    fill: #d8102a;
    stroke: #d8102a; }
  .halflife.hl-25 {
    animation: ping 5s infinite;
    fill: #d8102b;
    stroke: #d8102b; }
  .halflife.hl-26 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-27 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-28 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-29 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-30 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-31 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-32 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-33 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-34 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-35 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-36 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-37 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-38 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-39 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-40 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-41 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-42 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-43 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-44 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-45 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-46 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-47 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-48 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-49 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-50 {
    fill: #ff6e2e;
    stroke: #ff6e2e; }
  .halflife.hl-51 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-52 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-53 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-54 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-55 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-56 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-57 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-58 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-59 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-60 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-61 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-62 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-63 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-64 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-65 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-66 {
    fill: #ffd00d;
    stroke: #ffd00d; }
  .halflife.hl-67 {
    fill: #fecf0e;
    stroke: #fecf0e; }
  .halflife.hl-68 {
    fill: #fecf0e;
    stroke: #fecf0e; }
  .halflife.hl-69 {
    fill: #fdcf0f;
    stroke: #fdcf0f; }
  .halflife.hl-70 {
    fill: #fdcf0f;
    stroke: #fdcf0f; }
  .halflife.hl-71 {
    fill: #fdcf0f;
    stroke: #fdcf0f; }
  .halflife.hl-72 {
    fill: #fdce10;
    stroke: #fdce10; }
  .halflife.hl-73 {
    fill: #fcce10;
    stroke: #fcce10; }
  .halflife.hl-74 {
    fill: #fcce10;
    stroke: #fcce10; }
  .halflife.hl-75 {
    fill: #fcce10;
    stroke: #fcce10; }
  .halflife.hl-76 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-77 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-78 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-79 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-80 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-81 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-82 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-83 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-84 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-85 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-86 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-87 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-88 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-89 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-90 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-91 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-92 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-93 {
    animation: ping-twice 3s infinite;
    fill: #00adaf;
    stroke: #00adaf; }
  .halflife.hl-94 {
    animation: ping-twice 3s infinite;
    fill: #00acaf;
    stroke: #00acaf; }
  .halflife.hl-95 {
    animation: ping-twice 3s infinite;
    fill: #01acae;
    stroke: #01acae; }
  .halflife.hl-96 {
    animation: ping-twice 3s infinite;
    fill: #01acae;
    stroke: #01acae; }
  .halflife.hl-97 {
    animation: ping-twice 3s infinite;
    fill: #01acae;
    stroke: #01acae; }
  .halflife.hl-98 {
    animation: ping-twice 3s infinite;
    fill: #01acae;
    stroke: #01acae; }
  .halflife.hl-99 {
    animation: ping-twice 3s infinite;
    fill: #01acae;
    stroke: #01acae; }
  .halflife.hl-100 {
    animation: ping-twice 3s infinite;
    fill: #02abae;
    stroke: #02abae; }

@keyframes pulse {
  0% {
    fill-opacity: 0.5; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0.5; } }

@keyframes ping {
  0% {
    stroke-width: 1;
    stroke-opacity: 0; }
  50% {
    stroke-width: 12;
    stroke-opacity: .2; }
  100% {
    stroke-width: 17;
    stroke-opacity: 0; } }

@keyframes ping-twice {
  0% {
    stroke-width: 1;
    stroke-opacity: 0; }
  20% {
    stroke-width: 12;
    stroke-opacity: .3; }
  40% {
    stroke-width: 17;
    stroke-opacity: 0; }
  60% {
    stroke-width: 1;
    stroke-opacity: 0; }
  80% {
    stroke-width: 12;
    stroke-opacity: .3; }
  100% {
    stroke-width: 17;
    stroke-opacity: 0; } }

.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  .login-container .form {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    max-width: 400px; }
    .login-container .form.login {
      grid-gap: 20px; }
  .login-container .social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
    .login-container .social-login .google {
      background-color: #dd4b39;
      color: #ffffff; }
    .login-container .social-login .facebook {
      background-color: #3b5998;
      color: #ffffff; }
  @media screen and (min-width: 400px) {
    .login-container .form {
      width: 60%; } }
  @media screen and (min-width: 768px) {
    .login-container .form {
      width: 40%; } }

.login-container.profile {
  justify-content: left; }
  .login-container.profile .form {
    width: 100%;
    max-width: 100%; }
    @media screen and (min-width: 994px) {
      .login-container.profile .form {
        max-width: 1000px; }
      .login-container.profile .form > div {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr; } }

.homePage .hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #EE7752, #E73C7E); }
  .homePage .hero .heroContent {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%); }
    .homePage .hero .heroContent h1 {
      color: white; }
    .homePage .hero .heroContent .locationCont {
      margin: 1.15em auto;
      width: 75%; }
      .homePage .hero .heroContent .locationCont input {
        display: block;
        width: 100%; }
      .homePage .hero .heroContent .locationCont input {
        box-sizing: border-box;
        border: 1px solid transparent;
        padding: 12px 8px;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        outline: none;
        text-overflow: 'ellipses'; }

.add-post-container {
  padding: 40px; }

.add-post {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: white;
  max-width: 800px;
  margin: 0 auto; }
  .add-post .toggle-add-to-story {
    color: #02040F;
    text-align: left;
    padding-left: 0; }
    .add-post .toggle-add-to-story i {
      font-size: 2em;
      margin-right: 10px; }
    .add-post .toggle-add-to-story > span {
      display: flex;
      align-items: center; }
  .add-post .add-post-inputs {
    display: grid;
    grid-gap: 20px;
    background-color: white; }
  .add-post .add-storyline-inputs {
    grid-gap: 20px;
    z-index: -1;
    display: none; }
    .add-post .add-storyline-inputs.visible {
      display: grid; }

.current-location {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: calc(100% - 40px) 30px; }
  .current-location button.btn {
    width: auto; }
  .current-location > * {
    align-self: end; }
  .current-location i {
    font-size: 2em; }
  .current-location > span:last-child {
    text-align: right;
    margin-right: 0; }

.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -20px 0; }

.post-card {
  margin: 0 20px 20px 0;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  height: 300px;
  width: 300px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative; }
  .post-card:hover {
    background-color: #1D2833;
    color: white; }
  .post-card > * {
    padding: 15px; }
  .post-card .post-card-footer {
    font-size: .8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .post-card .post-card-footer > * {
      align-self: center; }
    .post-card .post-card-footer .replies-count-container {
      text-align: center;
      padding-left: 23px;
      cursor: pointer; }
    .post-card .post-card-footer .more {
      cursor: pointer;
      text-align: right; }
    .post-card .post-card-footer:before {
      content: '';
      width: 90%;
      height: 1px;
      background-color: #D8D4D5;
      position: absolute;
      top: 0;
      left: 5%; }

.storyline-card {
  width: 400px; }
  .storyline-card:hover {
    background-color: inherit;
    color: inherit; }
  .storyline-card .storyline-card-latest-post-preview {
    cursor: pointer;
    min-height: 95px;
    padding-bottom: 5px;
    margin: 0 15px;
    width: calc(100% - 30px);
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 50px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: grid;
    grid-gap: 5px; }
    .storyline-card .storyline-card-latest-post-preview:hover {
      background-color: #1D2833;
      color: white; }
    .storyline-card .storyline-card-latest-post-preview .more {
      justify-self: center;
      align-self: end; }
  .storyline-card .post-card-footer {
    grid-template-columns: 1fr 1fr; }
    .storyline-card .post-card-footer:before {
      background-color: transparent; }
  .storyline-card .latest-story {
    padding: 0 0 10px 0;
    text-align: center;
    position: absolute;
    bottom: 150px;
    width: 90%;
    left: 5%;
    font-family: 'Lato', sans-serif; }

.my-locations > div {
  padding-top: 20px; }

.my-locations i {
  font-size: 2em; }

.my-locations .home-location {
  display: flex;
  grid-gap: 15px;
  padding-bottom: 40px;
  border-bottom: solid 1px #D8D4D5; }
  .my-locations .home-location * {
    align-self: center;
    text-align: left;
    margin-right: 10px; }

.my-locations .search-loc {
  padding-top: 20px; }

.my-locations .buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  grid-gap: 5px; }

.my-locations label {
  font-size: 1.2em; }

.pinned-location {
  display: grid;
  grid-auto-flow: column;
  border-bottom: solid 1px #D8D4D5;
  padding: 20px 0;
  min-height: 75px; }
  .pinned-location i {
    font-size: 1.7em; }
  .pinned-location > * {
    align-self: center; }
  .pinned-location:first-child {
    border-top: solid 1px #D8D4D5; }
