/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto|Lato:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  font-family: 'Roboto', sans-serif;
*/
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%; }

body {
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column; }

#root {
  flex: 1 0 auto; }

footer {
  padding: 20px;
  text-align: right;
  border-top: solid 2px #dddddd;
  background-color: #dddddd; }

a {
  text-decoration: none;
  cursor: pointer; }

hr {
  width: 100%; }

nav {
  background-color: #02040F;
  color: #F1FFE7;
  display: flex;
  justify-content: space-between; }
  nav a {
    color: #F1FFE7;
    display: inline-block;
    padding: 10px 15px; }
    nav a.active {
      background-color: #006DAA; }

input, textarea, button, select {
  font-size: 1em;
  line-height: 1em;
  font-family: 'Roboto', sans-serif; }

textarea:focus, input:focus, button:focus, select:focus {
  outline: none; }

.textbox-container {
  display: grid;
  grid-gap: .625em; }
  .textbox-container label {
    font-weight: bold;
    font-family: 'Lato', sans-serif; }

.textbox {
  padding: 10px;
  border: solid 1px #bbbbbb;
  width: 100%; }
  .textbox:focus {
    border-color: #02040F;
    transition: all 300ms; }
  .textbox-error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px; }

.btn {
  color: #F1FFE7;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  padding: 12px;
  width: 100%;
  border-width: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.default {
    background-color: #dddddd;
    color: #888888; }
  .btn.blue {
    background-color: #006DAA;
    color: #F1FFE7; }
  .btn.disabled {
    background-color: #dddddd;
    color: #5e5e5e; }
  .btn.inline {
    display: inline;
    padding: 4px 10px; }

.rounded {
  border-radius: 5px; }

.inverse {
  background-color: #02040F;
  border-color: #02040F;
  color: #F1FFE7; }

.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  .login-container .form {
    display: grid;
    grid-gap: 10px;
    width: 80%; }
    .login-container .form.login {
      grid-gap: 20px; }
  .login-container .social-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
    .login-container .social-login .google {
      background-color: #dd4b39; }
    .login-container .social-login .facebook {
      background-color: #3b5998; }
  @media screen and (min-width: 400px) {
    .login-container .form {
      width: 60%; } }
  @media screen and (min-width: 768px) {
    .login-container .form {
      width: 40%; } }
